@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Poppins&family=Quicksand:wght@300&display=swap');

/* Defining custom properties in the :root selector */
:root {
  
  /* font-family */
    --default-font: Poppins;

  /* colors */
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --default-color: #333;
    --background-color: #f4f4f4;
    --black-color: #000000;
    --white-color: #ffffff;
    --outline-color: #dddddd;

    --Vibrant-Teal-color: #1B9C9C;
    --cream-color: #FFF5E1;
    --warm-orange-color: #F39C12;
    --text-dark-slate-color: #2C3E50;

  /* font-size */
    --default-font-size: 16px;
    --heading-font-size: 2rem;
    --subheading-font-size: 1.5rem;

  /* border */
    --default-border: 1px solid black;  

  /* background color */
    --primary-bg: #242526;
    --secondary-bg: #fff;

  /* border radius */
    --border-radius: 4px;

  /* text color */
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    
  /* animation speed */
    --speed: 500ms;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}
ul{
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input::-webkit-search-cancel-button{
    display: none;
}

